<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/project_details.css" />
		<title>Homepage</title>
	</head>

	<% if (user !=null) { %>
    <%- include("partials/userheader") %>
	<% } else { %>
		<%- include("partials/header") %>
	<% } %>

	<body>
		<h1><%= project.title %></h1>
		<p><%= project.description %></p>
		<p>Budget: $<%= project.budget %></p>
		<p>Quantity: $<%= project.quantity %></p>

		<button class="bid-button">Make Bid</button>

		<form class="bidForm" method="POST" action="/submitBid" style="display: none;">
			<input type="hidden" name="projectId" value="<%= project.id %>" />
			<input type="number" name="bidAmount" placeholder="Enter bid amount" required />
			<input type="text" name="message" placeholder="Enter message" required />
			<button type="submit">Submit Bid</button>
		</form>

		

		<script>
			const bidButton = document.querySelector(".bid-button");
			const bidForm = document.querySelector(".bidForm");

			bidButton.addEventListener("click", function (event) {
				
				bidForm.style.display = "block";
			});

		</script>

			
	</body>
</html>
